
//- | {{ if eq .Hugo.Environment "release" }}

| {{ if eq .Hugo.Environment "styleshim" }}


| {{ else }}

| {{ $js := resources.Get "js/0.js" }} {{ $secJs := $js | resources.Minify | resources.Fingerprint }}
script(src="{{$secJs.RelPermalink}}")

| {{ end }}
//- | {{ else }}
//- 
//- 
//- | {{ end }}
