.nav {
  background-color: var(--secondary-bg-color);
  box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
  padding: 0.5rem 0;
  width: 100%;
  // display: none;
  margin-top: 0;
  @screen lg {
    @apply flex bg-transparent my-auto shadow-none;
  }
}
// .page-top {
//   .nav {
//     background-color: var(--secondary-bg-color);
//     box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
//     padding: .5rem 0;
//     width: 100%;
//     display: none;
//     margin-top: 0px;
//
//     &.is-active {
//       display: block;
//     }
//
//     @screen lg {
//       background-color: transparent;
//       display: flex;
//       // display: block;
//     }
//   }
// }

.navbar-burger {
  // @screen lg {
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  height: 100%;
  margin-left: auto;

  span {
    background-color: var(--heading-color);
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 16px;

    &:nth-child(1) {
      top: calc(50% - 6px);
    }

    &:nth-child(2) {
      top: calc(50% - 1px);
    }

    &:nth-child(3) {
      top: calc(50% + 4px);
    }
  }
  // }
  @screen lg {
    @apply hidden;
  }
}

// .page-top {
//   @apply w-full;
//
// }

@media screen and (max-width: 960px), print {
  .sidebar {
    width: 100%;
    position: absolute;
    border-right: none;
    z-index: 1;
  }

  .sidebar .logo-title {
    padding-top: 120px;
  }

  .sidebar .logo-title .title img {
    width: 100px;
  }

  .sidebar .logo-title .title h3 {
    font-size: 20px;
  }

  .page-top {
    width: 100%;
  }

  .post-title h3 {
    line-height: 1.6;
  }

  .footer {
    display: none;
  }

  .share {
    display: grid;
  }

  // .page-top .nav {
  //   background-color: var(--secondary-bg-color);
  //   box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
  //   padding: 0.5rem 0;
  //   width: 100%;
  //   display: none;
  //   margin-top: 0;
  // }

  .page-top .nav.is-active {
    display: block;
  }

  .page-top .nav li {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 2.5;
    padding: 0.5rem 0.75rem;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
  }

  .page-top .nav a.current {
    border-bottom: none;
  }

  .navbar-burger {
    // cursor: pointer;
    // display: block;
    // height: 3.25rem;
    // position: relative;
    // width: 3.25rem;
    // height: 100%;
    // margin-left: auto;
    //
    // span {
    //   background-color: var(--heading-color);
    //   display: block;
    //   height: 1px;
    //   left: calc(50% - 8px);
    //   position: absolute;
    //   transform-origin: center;
    //   transition-duration: 86ms;
    //   transition-property: background-color, opacity, transform;
    //   transition-timing-function: ease-out;
    //   width: 16px;
    //
    //   &:nth-child(1) {
    //     top: calc(50% - 6px);
    //   }
    //
    //   &:nth-child(2) {
    //     top: calc(50% - 1px);
    //   }
    //
    //   &:nth-child(3) {
    //     top: calc(50% + 4px);
    //   }
    //
    // }
  }
  // .navbar-burger span {
  //   background-color: var(--heading-color);
  //   display: block;
  //   height: 1px;
  //   left: calc(50% - 8px);
  //   position: absolute;
  //   transform-origin: center;
  //   transition-duration: 86ms;
  //   transition-property: background-color, opacity, transform;
  //   transition-timing-function: ease-out;
  //   width: 16px;
  // }
  //
  // .navbar-burger span:nth-child(1) {
  //   top: calc(50% - 6px);
  // }
  //
  // .navbar-burger span:nth-child(2) {
  //   top: calc(50% - 1px);
  // }
  //
  // .navbar-burger span:nth-child(3) {
  //   top: calc(50% + 4px);
  // }
  // .theme-switch-item {
  //   float: none;
  // }
}
@media print {
  .page-top {
    display: none;
  }
}
