script(
  src='https://utteranc.es/client.js',
  repo="{{ .Site.Params.utterances.repo }}"
  issue-term="{{ .Site.Params.utterances.issueTerm }}"
  theme="{{ .Site.Params.utterances.theme }}" 
  label="{{ with .Site.Params.utterances.label }}{{ . }}{{ end }}"
  crossorigin="anonymous" 
  async
  )
