


.brand {

  &.icon {
      max-width: 40px;
      max-height: 40px;
      height: 40px;
      width: 40px;

      // @screen md {
      //
      //   max-width: 30px;
      //   max-height: 30px;
      //
      // }

  }

}
