:root {
  --bg-color: #fff;
  --secondary-bg-color: #eeeeee;
  --heading-color: #5f5f5f;
  --body-color: rgba(0, 0, 0, 0.7);
  --post-color: rgba(0, 0, 0, 0.44);
  --border-color: rgba(0, 0, 0, 0.15);
  --form-border-color: #9f9f9f;
  --form-button-hover-border-color: #000;
  --pre-bg-color: #f9f9fd;
  --nav-text-color: #5a5a5a;
  --tag-color: #424242;
  --blockquote-text-color: #858585;
  --blockquote-border-color: #dfe2e5;
  scroll-padding-top: 100px;
}

html[data-theme='dark'] {
  --bg-color: rgb(4, 10, 19);
  --secondary-bg-color: rgb(20, 18, 42);
  --heading-color: #e0e0e0;
  --body-color: rgb(195, 195, 203);
  --post-color: rgba(0, 0, 0, 0.44);
  --border-color: rgb(38, 38, 38);
  --form-border-color: rgb(169, 169, 179);
  --form-button-hover-border-color: #fff;
  --pre-bg-color: rgb(33, 33, 45);
  --nav-text-color: #e0e0e0;
  --tag-color: #e0e0e0;
  --blockquote-text-color: #f6f6f6;
  --blockquote-border-color: #424242;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  // text-overflow: ellipsis;
  // min-height: 100%;
  @apply min-h-full flex w-full overflow-ellipsis text-gray-200; //bg-gray-900;
  background-color: var(--bg-color);
}

body {
  $sel-items: selection -webkit-selection -moz-selection -o-selection -ms-selection;
  @each $item in $sel-items {
    ::#{$item} {
      background-color: var(--pink-400);
    }
  }

  main {
    // @apply w-full;
    min-width: 100%;
  }
}
// reset thingy
a,
button,
input,
select,
textarea {
  &:focus {
    box-shadow: none !important;
    outline: var(--white) dotted 2px !important;
    outline-offset: 0.05em !important;
  }
}

a {
  @apply no-underline;

  &:hover {
    @apply text-pink-300;
  }
}

section {
  @apply h-auto mt-20 w-full;
  @screen md {
    @apply mx-auto w-5_6;
  }
  @screen lg {
    @apply mx-auto w-2_3;
  }
  @screen xl {
    @apply mx-auto w-1_2;
  }
}
