nav {

  @apply bg-pink-800 w-full fixed z-10 h-14;

  @screen lg {
    @apply flex px-10;
  }

  img {
    @apply mx-auto;
  }

  ul {
    @apply text-center;

    li {
      @apply py-2;
    }

  }

}

.logo-title {
  @apply bg-red-800;
}

.nav a {
  @apply text-white no-underline font-semibold text-base;

  &:hover {
    @apply no-underline text-pink-300;
  }

  &:visited {}

  &:active {}
}

.navbar-burger {
  @apply py-6 h-full my-auto px-8;
}
