.post {
  @apply m-4;

  // summary page title
  // single page bold title
  // also changed in markdown
  .post-title {
    @apply text-lg;

    h3 {
      @apply uppercase font-semibold;
    }
  }

  .p_part {
    @apply font-light text-sm contents;
  }

  .post-footer {
    @apply border-b pb-2 border-opacity-50 border-dashed;
  }

}

// summary page date+tag section
// single page reading time section
.info {
  @apply my-1 w-full;
}

// a.listing-item {
//   @apply no-underline;
//
//   &:hover {
//     @apply no-underline text-red-400;
//   }
// }

// unify links
// .post a{
//   @apply no-underline font-semibold;
//
//   .p_part {
//     @apply font-light text-sm;
//   }
//
//   &:hover {
//
//     @apply no-underline text-red-400;
//
//     // nav {
//     //   @apply no-underline;
//     // }
//
//   }
//
//   &:visited{
//
//   }
//
//   &:active {
//     // text-decoration: underline;
//   }
// }


// from style.css

// .post {
//   // background-color: var(--bg-color);
//   /* margin: 30px; */
// }

// .post .post-title h1 {
//   text-transform: uppercase;
//   font-size: 30px;
//   letter-spacing: 5px;
//   line-height: 1;
// }

// .post .post-title h2 {
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   font-size: 28px;
//   line-height: 1;
//   font-weight: 600;
//   color: var(--heading-color);
// }

// .post .post-title h3 {
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   line-height: 1;
//   font-weight: 600;
//   /* color: #464646; */
//   /* color: var(--heading-color); */
//   /* font-size: 22px; */
//   /* margin: 0; */
// }

// .post .post-title a {
//   text-decoration: none;
//   letter-spacing: 1px;
//   color: var(--heading-color);
// }
//
// .post .post-title a:hover {
//   /*text-decoration: underline;*/
// }

// .post .post-content a {
//   text-decoration: none;
//   letter-spacing: 1px;
//   /* color: #2660ab; */
// }

// .post .post-content a:hover {
//   /* color: #2F69B3; */
// }

// .post .post-content h3 {
//   /* font-size: 22px; */
//   /* font-weight: 600; */
// }
//
// .post .post-content h4 {
//   /* color: var(--heading-color); */
//   /* font-size: 16px; */
// }

// .post .post-content img {
//   max-width: 100%;
// }

// .post .post-footer {
//   padding: 0 0 10px 0;
//   border-bottom: 1px solid var(--border-color);
// }

// .post .post-footer .meta {
//   max-width: 100%;
//   /* display: flex; */
//   color: #bbbbbb;
// }
//
// .post .post-footer .meta .info {
//   float: left;
//   font-size: 12px;
//   /* margin-bottom: 1em; */
//   color: var(--body-color);
// }

// .post .post-footer .info .separator a {
//   margin-right: 0.2em;
// }

// .post .post-footer .meta .info .date {
//   margin-right: 10px;
//   margin-left: 5px
// }
//
// .info {
//   /* margin: 1em; */
//   /* margin: 0.5em 0; */
// }
//
// .post .post-footer .meta a {
//   text-decoration: none;
//   color: var(--body-color);
//   /* padding-right: 10px; */
// }
//
// .post .post-footer .meta a:hover {
//   color: var(--red-400);
// }
//
// .post .post-footer .meta i {
//   margin-right: 6px;
// }

// home page tag things
//
// .post .post-footer .tags {
//   padding-bottom: 15px;
//   font-size: 13px;
// }
//
// .post .post-footer .tags ul {
//   list-style-type: none;
//   display: inline;
//   margin: 0;
//   padding: 0;
// }
//
// .post .post-footer .tags ul li {
//   list-style-type: none;
//   margin: 0;
//   padding-right: 5px;
//   display: inline;
// }
//
// .post .post-footer .tags a {
//   text-decoration: none;
//   color: var(--post-color);
//   font-weight: 400;
// }
//
// .post .post-footer .tags a:hover {
//   text-decoration: none;
// }
