| {{ define "main" }}

.pagehead
  h1 {{ .Title }}
  | {{ partial "updated_at.html" . }}

.sortbox
  p Sort by
  select#sort(onchange="resort()")
    option Price
    option Portal #

.itemlist#list

  |  {{$closed := getJSON "data/portals/closed/latest.json"}}
  |  {{ range $closed.items }}
  a.itemcard.closed.flex-reverse.justify-between(
    href="{{.href}}", 
    target="_blank", 
    data-price="{{.price}}", 
    data-index="{{.index}}"
  )
      
    img.mainimg(src="/aavegotchi_images/portal_sealed_optimized.svg", width=60, height=60)
      
    .flex.flex-col.justify-around.ml-1
      
      h3.font-semibold.uppercase.text-xl Unopened Portal \#{{.index}}
      
      .flex.flex-row.w-full
        
        .flex
          img.sprite.rounded.object-cover(src="/aavegotchi_images/gotchi.png", width=20, height=20)
          #price.mr-2 Haunt {{.haunt}}
        
        .flex
          img.sprite(src="/aavegotchi_images/ghsttoken.png", width=20, height=20)
          #price.
            {{ if gt .price 9999 }}
            
            {{ $a := div .price 1000 }}
            {{ $b := math.Round $a  }}
            {{ $c := mul $a 100  }}
            {{ $d := math.Round $c  }}
            {{div $d 100}}K
            
            {{ else }}
            {{.price}}
            {{ end }}
              
  |  {{ end }}

| {{ partial "sort_js.html" . }}

| {{ end }}
